
@{ ViewBag.Title = "Payment Successfull"; }

<div class="jumbotron">
    <h1 style="text-align:center;">Payment Successfull Thankyou</h1>

    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
@*<p>
        @using (@Html.BeginForm("Index2", "Buildings", FormMethod.Post))
        {
        <div style="min-width:100% !important">
    <p style="min-width:100% !important;">
        @Html.TextBox("search")

    </p>
        </div>
        <div>
            <input type="submit" value="search" />
        </div>


        }
    </p>*@
