<div class="container">
    <div class="row">
        <div class="col-md-12">
                   <h2>Dear Landlord <br />
            Your registration has been succesfully submitted.
            Please await for email to confirm your registration approval/rejection, which is dependent on the correctness of the documents you have uploaded.</h2>
            <p>@Html.ActionLink("CLick here to return to home page","tenant","Home")</p>
        </div>
        </div>
    </div>
